
@font-face {
    font-family: 'Metropolis';
    font-weight: normal;
    src: url("fonts/Metropolis-Regular.otf") format("opentype");
}
@font-face {
    font-family: 'Metropolis-Bold';
    font-weight: bold;
    src: url("fonts/Metropolis-Bold.otf") format("opentype");
}
@font-face {
    font-family: 'Metropolis-Light';
    font-weight: bold;
    src: url("fonts/Metropolis-Light.otf") format("opentype");
}
:root{
    --border-primary: 1px solid #E1E2E8;
    --font-family-primary: 'Metropolis-Bold';
    --font-family-secondary: 'Metropolis';
    --font-family-tertiary: 'Metropolis-Light';
    --background-color-primary: #FFFFFF;
    --background-color-secondary: #9BCB3B;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#myBtn {
    display: none;
    position: fixed;
    bottom: 50px;
    right: 30px;
    z-index: 99;
    font-size: 15px;
    border: none;
    outline: none;
    background-color: #f74137;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    transition: background-color .15s ease-out;
} 
#myBtn:hover {
    background-color: #f51c10;
}
.main {
    width: 100%;
    max-width: 100%;
    margin: auto;
    background-color: var(--background-color-primary);
    border-bottom: var(--border-primary);
}
.menu {
    text-align: center;
    font-size: 14px;
    padding: 10px;
    background-color: var(--background-color-primary);
    justify-content: space-between;
    list-style: none;
    display: block;
    margin: 0;
}
.upper-menu, .row-up, .footerSocialMedia, .footerSocialMedia__content{
    gap: 10px;
}
.upper-menu, .hide-info, .row-up{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo img:hover{
    transform: scale(1.05);
}
.fa-search{
    color: white;
}
.three-information{
    text-align: center;
    padding: 10px;
    font-family: var(--font-family-primary);
    display: flex;
    gap: 30px;
    justify-content: space-between;
}
.header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--background-color-primary);
    height: 100%;
    font-family: var(--font-family-primary);
}
.header a, .upper-headers a{
    text-decoration: none;
    color: black;
}
.headers {
    width: fit-content;
    text-align: left;
    padding: 10px;
}
.upper-headers, .header a, .upper-headers a, .cart {
    gap: 5px;
}
.upper-headers a, .upper-headers, .cart, .footerSocialMedia, .footerSocialMedia__content{
    display: flex;
    align-items: center;
}
.upper-headers img:hover{
    transition: 2s;
    transform:rotate(360deg);
}
.upper-headers p, .cart-brother{
    position: relative;
}
.upper-headers p::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #F74137;
    z-index: 1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease-in-out;
}
.upper-headers p:hover::before{
    transform: scaleX(1);
}
.cart{
    border: var(--border-primary);
    height:100%;
}
.cart img{
    width: 40px;
    height: 35px;
    border-right: var(--border-primary);
    padding-right: 5px;
    margin-left: 5px;
}
.arrow-cart{
    background-color: var(--background-color-secondary);
}
.arrow-cart img{
    padding: 25px 10px;
}
.text-cart{
    padding: 12px;
}
.text-cart > .first-text-cart{
    font-family: var(--font-family-primary);
}
.second-text-cart{
    font-family: var(--font-family-secondary);
    text-align: left;
}
.text-on-cart{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 9px;
    display: block;
    padding-right: 5px;
}
.cart-family, .arrow-cart{
    display: flex;
}
.number-orders{
    border: 1px solid #9BCB3B;
    color: white;
    background-color: var(--background-color-secondary);
    font-family: var(--font-family-secondary);
}
.button-menu{
    border: none;
    background-color: white;
}
.hamburger, .hide{
    display: none;
}
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
    cursor: pointer;
}
.nav-items{
    display: flex;
    justify-content: space-between;
    width: 100%;
    white-space: nowrap;
    overflow: auto;
}
.third-header{
    background-color: #F2F3F4;
    width: 100%;
    height: 100%;
    font-family: var(--font-family-secondary);
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 40px;
    padding-left: 30px;
}
.header-information{
    text-align: center;
}
.header-information a{
    text-decoration: none;
    color: black;
}
.under-footer {
    display: grid;
    justify-content: space-between;
    gap: 20px;
    background: #323940;
    padding: 25px;
    grid-template-columns: repeat(4,minmax(0,1fr));
}
.footer-information {
    background-color: #323940;
    color: white;
    width: 100%;
    margin-bottom: 15px;
}
.footer-information a{
    text-decoration: none;
    color: white;
}
.footer-information ul{
    margin-top: 30px;
}
.footer-information h3 {
    border-bottom: 1px solid hsla(0,0%,100%,.3);
    font-family: var(--font-family-primary);
    width: 100%;
}
.footer-information li {
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: var(--font-family-secondary);
}
.footer-information h3::after {
    content: '';
    height: 3px;
    width: 25px;
    background: #F74137;
    margin-bottom: -2px;
    display: block;
    text-align: left;
}
#arrow-down1, #arrow-down2, #arrow-down3{
    font-size: 40px;
}
.general_module{
    font-family: var(--font-family-secondary);
}
.module_body{
    margin-top: 30px;
    font-size: 2.75rem;
    font-family: var(--font-family-secondary);
    padding-bottom: 1.25rem;
    cursor: pointer;
}
.module_body a:hover{
    color: #f74137;
}
.module_information{
    font-size: .875rem;
    padding-bottom: 1.25rem;
}
.fa-phone-volume{
    transform: rotate(-45deg);
    font-size: 2.75rem;
    color: #f74137;
}
.formularz{
    outline: 1px solid white;
    padding: 21px 40px;
    margin: 4px 2px;
    display: inline-block;
    font-family: var(--font-family-primary);
}
.formularz:hover{
    background-color: #f51c10;
    color: white;
    outline: 0;
    transition-duration: 0.4s;
}
.footerDetails{
    display: flex;
    justify-content: space-between;
    background-color: #323940;
    padding: 25px;
    border-top: 1px solid hsla(0,0%,100%,.3)
}
.galleryTextListFooterPayment{
    color: white;
    font-family: var(--font-family-primary);
}
.galleryFooter, .galleryFooterDelivery{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.galleryTextListFooterPayment, .galleryTextListFooterDelivery, .gallery_flex, .header a{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.galleryTextListFooterDelivery{
    color: white;
    font-family: var(--font-family-primary);
    font-size: 16px;
}
.gallery_flex{
    gap: 45px;
}
.textSocialMedia{
    color: white;
    font-size: 16px;
    font-family: var(--font-family-primary);
}
.footerSocialMedia a{
    text-decoration: none;
    color: white;
    border: 1px solid hsla(0,0%,100%,.3);
    transition: border-color .3s ease-out;
    padding: 20px;
}
.footerSocialMedia__content{
    flex-wrap: wrap;
    justify-content: center;
}
.footerSocialMedia a:hover{
    border-color: white;
}
footer {
    display: flex;
    justify-content: space-between;
    padding: 25px;
    font-family: var(--font-family-secondary);
    border: var(--border-primary);
}
ul, ul li {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
}
.reviewFormContainer{
    background-color: white;
    margin: 15px;
}
.messageInfo{
    background-color: #fafafb;
    border: 1px solid #a1a4a7;
    padding: 15px;
    width: 80%;
    margin: 0 auto;
    font-family: var(--font-family-secondary);
    color: #a1a4a7;
    text-align: center;
}
@media screen and (max-width: 1100px) {
    .footerDetails, .row-up{
        flex-direction: column;
    }
    .footerSocialMedia{
        margin: 0 auto;
        margin-top: 15px;
    }
    .galleryFooter, .galleryFooterDelivery{
        border-bottom: 1px solid hsla(0,0%,100%,.3);
        gap: 45px;
        width: 100%;
    }
    .logo img{
        height: 40px;
    }
    .module_body, .fa-phone-volume{
        font-size: 35px;
    }
}
@media screen and (min-width: 851px) {
    #poka1, #poka2, #poka3, #image-poka1, #image-poka2{
        display: block!important;
    }
    .gallery_flex {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 45px;
    }
}
@media screen and (max-width: 850px) {
    .footer-information{
        margin-bottom: 0px;
    }
    .footer-information ul{
        margin-top: 0px;
    }
    .hide{
        display: block;
    }
    #poka1, #poka2, #poka3, #image-poka1, #image-poka2{
        display: none;
    }
    .header, .headers{
        flex-direction: column;
        gap: 10px;
    }
    .under-footer{
        grid-template-columns: repeat(1,minmax(0,1fr));
    }
    footer {
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }
    .hamburger{
        display: block;
        cursor: pointer;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .header, .headers{
        flex-direction: column;
        gap: 10px;
        border-bottom: var(--border-primary);
        width: 100%;
    }
    .headers:hover{
        background: #E1E2E8;
    }
    .nav-items, .dropdown:hover .dropdown-content{
        display: none;
    }
    .nav-items.active{
        display: block!important;
        flex: 1 0 auto;
    }
    .header, .header a{
        padding: 5px
    }
    .three-information{
        bottom: 0;
        position: fixed;
        left: 0;
        background-color: white;
        width: 100%;
        height: 15%;
        border: 1px solid #e1e2e8;
        z-index: 1;
        padding: 10px;
    }
    #myBtn{
        bottom: 95px;
    }
    .upper-headers:not(:last-child)
    {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        flex: 1 1 0;
        border-right: 1px solid #e1e2e8;
        border-left: 1px solid #e1e2e8;
    }
    .upper-headers a{
        flex-direction: column;
        width: 100%;
    }
    .logo img{
        height: 40px;
    }
    .formularz{
        padding: 15px 15px;
    }
    .upper-menu{
        justify-content: center;
    }
    .galleryTextListFooterPayment, .galleryTextListFooterDelivery{
        width: 100%;
        border-bottom: 1px solid hsla(0,0%,100%,.3);
    }
    .galleryFooter, .galleryFooterDelivery{
        border: none;
    }
    .footerSocialMedia{
        margin: 0;
        margin-top: 10px
    }
}
@media screen and (min-width: 100px) and (max-width: 600px) {
    .upper-headers p, .text-cart{
        display: none;
    }
    .cart img{
        border: none;
    }
    .third-header{
        flex-direction: column;
    }
}
@media screen and (max-width: 400px) {
    .footerSocialMedia a{
        width: 50%;
        display: flex;
        justify-content: center;
    }
}