@font-face {
    font-family: 'Metropolis';
    font-weight: normal;
    src: url("fonts/Metropolis-Regular.otf") format("opentype");
}
@font-face {
    font-family: 'Metropolis-Bold';
    font-weight: bold;
    src: url("fonts/Metropolis-Bold.otf") format("opentype");
}
@font-face {
    font-family: 'Metropolis-Light';
    src: url("fonts/Metropolis-Light.otf") format("opentype");
}
:root {
    --border-primary: 1px solid #E1E2E8;
    --font-family-primary: 'Metropolis-Bold';
    --font-family-secondary: 'Metropolis';
    --font-family-tertiary: 'Metropolis-Light';
    --background-color-button: #F74137;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.full-page{
    border: var(--border-primary);
}
.hamburger {
    display: none;
}
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}
span {
    cursor: context-menu;
}
.number{
    border: var(--border-primary);
    display: flex;
    align-items: center;
}
.minus, .plus{
    background-color: #F8F8F8;
    padding: 9px 5px 13px 5px;
    height: 100%;
    font-family: var(--font-family-primary);
    display: flex;
    align-items: center;
    border: none;
    cursor: pointer;
}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
}
input[type="number"]{
    font-size: 14px;
    width: 50px;
    background-color: #FFFFFF;
    vertical-align: middle;
    text-align: center;
    font-family: var(--font-family-secondary);
    border: none;
}
html {
    width: 100%;
    height: 100%;
    font-size: 100%;
}
.main {
    width: 100%;
    max-width: 100%;
    margin: auto;
    background-color: white;
    border-bottom: var(--border-primary);
}
.menu {
    text-align: center;
    font-size: 14px;
    padding: 20px;
    background-color: white;
    justify-content: space-between;
    list-style: none;
    display: block;
    margin: 0;
}
.logo img:hover{
    transform: scale(1.05);
    cursor: pointer;
}
.upper-menu{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
}
.three-information{
    text-align: center;
    padding: 20px;
    font-family: var(--font-family-primary);
    display: flex;
    gap: 30px;
    justify-content: space-between;
}
.header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    height: 100%;
    font-family: var(--font-family-primary);
    padding: 10px;
}
.header a{
    text-decoration: none;
    color: black;
}
.headers {
    flex: 1 0 auto;
    text-align: left;
    padding: 15px;
}
.hamburger-menu{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    position: relative;
}
.build-icon{
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 4px 0;
}
.upper-headers {
    display: flex;
    align-items: center;
    gap: 5px;
}
.icon-icon_01:before {
    content: "\e900";
  }
.upper-headers img:hover{
    transition: 2s;
    transform:rotate(360deg);
}
.upper-headers p{
    position: relative;
}
.upper-headers a{
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    gap: 5px;
}
.upper-headers p::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #F74137;
    z-index: 1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease-in-out;
}
.dropdown {
    position: relative;
    display: inline-block;
} 
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 100%;
    padding: 12px 20px;
    z-index: 1;
    border: var(--border-primary);
    border-radius: 15px;
} 
.dropdown:hover .dropdown-content {
    display: block;
}
.upper-headers p:hover::before{
    transform: scaleX(1);
}
.cart{
    display: flex;
    align-items: center;
    gap: 5px;
    border: var(--border-primary);
    height:100%;
}
.cart img{
    width: 40px;
    height: 35px;
    border-right: var(--border-primary);
    padding-right: 5px;
    margin-left: 5px;
}
.arrow-cart{
    display: flex;
    background-color: #9BCB3B;
}
.arrow-cart img{
    padding: 25px 10px;
}
.text-cart{
    padding: 12px;
}
.text-cart > .first-text-cart{
    font-family: 'Metropolis-Bold';
}
.second-text-cart{
    font-family: 'Metropolis';
    text-align: left;
}
.text-on-cart{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 9px;
    display: block;
    padding-right: 5px;
}
.cart-family{
    display: flex;
}
.cart-brother{
    position: relative;
}
.number-orders{
    border: 1px solid #9BCB3B;
    color: white;
    background-color: #9BCB3B;
    font-family: var(--font-family-secondary);
}
.container {
    background-color: #F2F3F4;
    width: 100%;
    padding-top: 5px;
    height: auto;
    max-width: 100%;
    padding-left: 30px;
    padding-right: 30px;
}
.main-image {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    cursor: pointer;
}
.main-image img{
    width:100%;
    display: block;
}
#image-back img{
    display: none;
}
.text-main-image {
    position: absolute;
    top: 47%;
    left: 0;
    margin-left: 100px;
    transform: translateY(-50%);
    font-size: 35px;
    text-align: left;
    letter-spacing: 0px;
    opacity: 1;
    color: white;
}
.text-main-image p{
    font-size: 20px; 
    font-family: var(--font-family-tertiary);
    text-align: left;
    max-width: 345px;
    padding-top: 15px;
}
.text-main-image b{
    font-family: var(--font-family-primary);
}
.text-main-image h3{
    font-family: var(--font-family-tertiary);
    font-weight: normal;
}
.text-main-image h4{
    font-family: var(--font-family-primary);
}
.w3-display-right {
    position: absolute;
    top: 43%;
    transform: translateY(-50%);
    right: 0;
    background-color: #A3A3A3;
    width: 50px;
    height: 48px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    font-size: 18px;
}
.image-back{
    display: none;
}
.w3-display-right:hover{
    background-color: #b3b3b3;
}
.w3-display-left {
    position: absolute;
    top: 43%;
    transform: translateY(-50%);
    left: 0;
    background-color: #A3A3A3;
    width: 50px;
    height: 48px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    font-size: 18px;
}
.w3-display-left:hover{
    background-color:#b3b3b3;
}
.w3-display-right img {
    padding: 20px;
}
.w3-display-left img {
    padding: 20px;
}
.add-information {
    background-color: #F2F3F4;
    width: 100%;
    padding-top: 5px;
    height: auto;
    max-width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    font-size: 0;
}
.three-sub-images {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.three-sub-images img {
    transition: transform 0.3s ease;
    object-fit: cover;
    height: 100%;
}
.three-sub-images:hover img {
    transform: scale(1.05);
    width: 100%;
    height: 100%;
}
.text-on-sub-image {
    position: absolute;
    top: 35%;
    left: 0;
    padding-left: 40px;
    transform: translateY(-20%);
    font-size: 32px;
    text-align: left;
    letter-spacing: 0px;
    opacity: 1;
    margin: 0 auto;
    color: white;
}
.text-on-sub-image h4
{
    font-weight: 800;
    font-family: var(--font-family-primary);
}
.text-on-sub-image b{
    font-size: 27px;
    font-family: var(--font-family-primary);
}
.text-on-sub-image p 
{
    font-family: var(--font-family-tertiary);
    font-size: 28px;
}
.recommend-products{
    text-align: center;
    background-color: #F2F3F4;
    letter-spacing: 0px;
    opacity: 1;
    font-family: var(--font-family-primary);
    padding-top: 25px;
}
.recommend-products::after {
    content: '';
    height: 3px;
    width: 60px;
    background: #F74137;
    display: block;
    margin: 0 auto;
    text-align: center;
}
.choice-products {
    background-color: #F2F3F4;
    width: 100%;
    padding-top: 20px;
    height: auto;
    max-width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    border-top: var(--border-primary);
}
.lights-row {
    position: relative;
    background-color: #F2F3F4;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    display: flex;
    gap: 15px;
}
.light {
    margin: 0 auto;
    padding-bottom: 70px;
    padding-top: 70px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    max-width: 100%;
    height: 100%;
    width: 100%;
    text-align: center;
}
.light img {
    max-width: 100%;
    height: auto;
}
.text-under-lights {
    text-align: center;
    margin: 0 auto;
    color: black;
    font-size: 15px;
    transition: transform 0.3s ease;
    overflow: hidden;
    transform: translateY(60px);
}
.tile-product {
    opacity: 0;
}
.light:hover .tile-product {
    opacity: 1;
}
.light:hover .text-under-lights {
    transform: translateY(0);
}
.text-under-lights s{
    color: #A3A3A3;
    font-family: var(--font-family-secondary);
}
.text-under-lights b{
    font-family: var(--font-family-primary);
}
.text-under-lights p{
    font-family: var(--font-family-secondary);
}
.left-arrow-lights {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    background-color: silver;
    width: 30px;
    height: 35px;
    cursor: pointer;
}
.left-arrow-lights img {
    padding: 10px;
}
.left-arrow-lights:hover{
    background-color: #999999;
}
.right-arrow-lights {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    background-color: silver;
    width: 30px;
    height: 35px;
    cursor: pointer;
}
.right-arrow-lights img {
    padding: 10px;
}
.right-arrow-lights:hover{
    background-color: #999999;
}
.shoppingcart{
    width: 40px; 
    background-color: #9BCB3B;
    padding: 7px;
}
.tile-product{
    display: flex;
    padding-top: 35px;
    justify-content: center;
    gap: 10px;
}
.only-button {
    text-align: center;
    background-color: #F2F3F4;
    padding-bottom: 10px;
    padding-top: 10px;
}
.footer-information {
    background-color: #393E40;
    color: white;
    width: 100%;
    margin-bottom: 15px;
}
.footer-information a{
    text-decoration: none;
    color: white;
}
.footer-information ul{
    margin-top: 30px;
}
.footer-information h3 {
    border-bottom: var(--border-primary);
    font-family: var(--font-family-primary);
}
.footer-information h3::after {
    content: '';
    height: 3px;
    width: 25px;
    background: #F74137;
    margin-bottom: -2px;
    display: block;
    text-align: left;
}
.under-footer {
    display: grid;
    justify-content: space-between;
    gap: 20px;
    background: #393E40;
    padding: 25px;
    grid-template-columns: repeat(4,minmax(0,1fr));
}
.footer-information li {
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: var(--font-family-secondary);
}
.primary ul {
    padding-top: 30px;
}
footer {
    display: flex;
    justify-content: space-between;
    padding: 25px;
    font-family: var(--font-family-secondary);
    border: var(--border-primary);
}
.three-sub-images img {
    filter: brightness(0.7);
    width: 100%;
}
.button {
    border: none;
    color: white;
    padding: 21px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 4px 2px;
    font-family: var(--font-family-primary);
    cursor: context-menu;
} 
.button1 {
    background-color: var(--background-color-button);
    cursor: pointer;
}
.button2 {
    background-color: transparent;
    color: white;
    border: 1px solid white;
}
.button2:hover {
    background-color: var(--background-color-button);
    color: white;
    border: 0;
    transition-duration: 0.4s;
}
.button3 {
    background-color: var(--background-color-button);
    cursor: pointer;
}
.button4 {
    background-color: var(--background-color-button);
    margin-top: 40px; 
    cursor: pointer;
}
/* About us section */
.about-section {
    position: relative;
    color: #fff;
    height: 550px;
}
.about-section > img {
    vertical-align: top;
    filter: brightness(0.5);
    width:100%;
    height: 100%;
    object-fit: cover;
}
.about-section .content-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    text-align: center;
}
.content-area p{
    font-family: var(--font-family-secondary);
    font-size: 10vw;
}
.about-section h3 {
    font-size: 40px;
    padding-top: 30px;
    border-bottom: 1px solid #fff;
    font-family: var(--font-family-primary);
}
.about-section h3::after {
    content: '';
    width: 50px;
    border-bottom: 4px solid #F74137;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
}
.about-section  p {
    max-width: 900px;
    margin: 30px auto;
    font-size: 18px;
    font-family: var(--font-family-secondary);
}
.about-section .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.about-section .icon {
    border: 1px solid #fff;
    padding: 60px;
}
.about-section .icon-text {
    margin-top: 20px;
}
ul, ul li {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
}
@media screen and (max-width:1000px) {
    .main-image img{
        object-fit: cover;
        height: 100%;
    } 
    .text-main-image{
        font-size: 20px;
    }
}
@media screen and (max-width: 885px) {
    .lights-row {
        flex-wrap: wrap;
    }
    .main-image{
        height: 350px;
    }
    .main-image img{
        object-fit: cover;
        height: 100%;
    }
    .add-information{
        padding-bottom: 15px;
        flex-wrap: wrap;
    }
    .left-arrow-lights, .right-arrow-lights{
        opacity: 0;
    }
    .left-arrow, .right-arrow{
        opacity: 0;
    }
    .about-section .icons{
        flex-wrap: wrap;
    }
    .about-section{
        height: 750px;
    }
    .under-footer{
        grid-template-columns: repeat(2,minmax(0,1fr));
        gap: 40px;
    }
    footer {
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }
    .main-image .text-main-image{
        font-size: 20px;
        margin-left: 50px;
        top: 55%
    }
    .add-information .text-on-sub-image p{
        font-size: 25px;
        padding-bottom: 15px;
    }
    .text-on-sub-image b{
        font-size: 23px;
    }
    .text-cart{
        width:100%;
    }
    .upper-headers p{
        display: none;
        flex-direction: column;
    }
    .w3-display-left, .w3-display-right{
        display: none;
     }
     .hamburger {
        display: block;
        cursor: pointer;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .headers {
        position: fixed;
        left: -100%;
        top: 25%;
        transition: 0.3s;
        text-align: center;
    }
    .header, .headers{
        flex-direction: column;
        gap: 10px;
    }
}
@media screen and (max-width: 801px) {
    .about-section h3{
        font-size: 30px;
    }
}
@media screen and (max-width: 700px){
    .content-area h3{
        font-size: 20px;
    }
    .content-area p{
        font-size: 15px;
    }
    .upper-menu{
        flex-direction: column;
    }
    .logo img{
        width: 250px;
    }
    .three-information{
        justify-content: space-around;
    }
}
@media screen and (max-width: 600px) {
    .about-section{
        height: 950px;
    }
    .button4{
        transform: translateY(-40%);
    }
    .cart img{
        border: none;
    }
    .text-cart{
        display: none;
    }
    .arrow-cart img{
        width: 100%;
    }
}
/* 
- Jak najrzadziej używać: float, position, overflow!!!
- Jak najmniej klas!
- Uważać na globalne style
- Jak najcześciej flex!
- Zamiast <br /> używać CSS: margin, padding, max-width
*/
