@font-face {
    font-family: 'Metropolis';
    font-weight: normal;
    src: url("fonts/Metropolis-Regular.otf") format("opentype");
}
@font-face {
    font-family: 'Metropolis-Bold';
    font-weight: bold;
    src: url("fonts/Metropolis-Bold.otf") format("opentype");
}
@font-face {
    font-family: 'Metropolis-Light';
    src: url("fonts/Metropolis-Light.otf") format("opentype");
}
:root{
    --border-primary: 1px solid #E1E2E8;
    --font-family-primary: 'Metropolis-Bold';
    --font-family-secondary: 'Metropolis';
    --font-family-tertiary: 'Metropolis-Light';
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.full-page{
    border: var(--border-primary);
}
html {
    width: 100%;
    height: 100%;
    font-size: 100%;
}
.main {
    width: 100%;
    max-width: 100%;
    margin: auto;
    background-color: white;
    border-bottom: var(--border-primary);
}
.menu {
    text-align: center;
    font-size: 14px;
    padding: 20px;
    background-color: white;
    justify-content: space-between;
    list-style: none;
    display: block;
    margin: 0;
}
.upper-menu{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}
.logo img:hover{
    transform: scale(1.05);
}
.three-information{
    text-align: center;
    padding: 20px;
    font-family: var(--font-family-primary);
    display: flex;
    gap: 35px;
    justify-content: space-between;
}
.header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    height: 100%;
    font-family: var(--font-family-primary);
    padding: 10px;
}
.header a{
    color: black;
    text-decoration: none;
}
.headers {
    flex: 1 0 auto;
    text-align: left;
    padding: 15px;
}
.upper-headers {
    display: flex;
    align-items: center;
    gap: 5px;
}
.upper-headers img 
{
    width: 18px;
    height: 18px;
}
.upper-headers a{
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    gap: 5px;
}
.upper-headers img:hover{
    transition: 2s;
    transform:rotate(360deg);
}
.upper-headers p{
    position: relative;
}
.upper-headers p::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #F74137;
    z-index: 1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease-in-out;
}
.upper-headers p:hover::before{
    transform: scaleX(1);
}
.cart-family{
    display: flex;
}
.cart-brother{
    position: relative;
}
.cart{
    display: flex;
    align-items: center;
    gap: 5px;
    border: var(--border-primary);
    height:100%;
}
.cart img{
    width: 40px;
    height: 35px;
    border-right: var(--border-primary);
    padding-right: 5px;
    margin-left: 5px;
}
.text-on-cart{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 9px;
    display: block;
    padding-right: 5px;
}
.text-cart{
    padding: 12px;
}
.text-cart > .first-text-cart{
    font-family: 'Metropolis-Bold';
}
.second-text-cart{
    font-family: 'Metropolis';
    text-align: left;
}
.number-orders{
    border: 1px solid #9BCB3B;
    color: white;
    background-color: #9BCB3B;
    font-family: var(--font-family-secondary);
}
.arrow-cart{
    display: flex;
    background-color: #9BCB3B;
}
.arrow-cart img{
    padding: 25px 10px;
}
.third-header{
    background-color: #F2F3F4;
    width: 100%;
    height: 100%;
    font-family: var(--font-family-secondary);
    display: flex;
    padding: 20px;
    gap: 40px;
    padding-left: 30px;
}
.header-information{
    text-align: center;
}
.main-page{
    display: flex;
}
.main-content{
    width: 80%;
    margin-right: 24px;
}
.nav-h1{
    margin-top: 25px;
    margin-bottom: 15px;
    font-size: 20px;
    font-family: var(--font-family-primary);
}
.under-h1-paragraph{
    font-size: 14px;
    font-family: var(--font-family-secondary);
    padding-bottom: 30px;
}
.background-height{
    height: 2px;
    width: 100%;
    background-color: #E1E2E8;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.text-expand{
    display: flex;
    font-family: var(--font-family-primary);
    background-color: white;
    padding-left: 5px;
}
.light-left-menu{
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(6, minmax(0,1fr));
    gap: 10px;
    font-family: var(--font-family-secondary);
}
.light-text-image-menu{
    display: flex;
    align-items: center;
    gap: 5px; 
    border: var(--border-primary);
    height: 100%;
}
.light-text-image-menu-red{
    display: flex;
    align-items: center;
    gap: 5px; 
    border: var(--border-primary);
    height: 100%;
}
.light-text-image-menu-red img{
    border-bottom: 3px solid #ED654B;
    border-right: var(--border-primary);
    width: 110px;
    padding: 15px 35px;
}
.light-text-image-menu p{
    margin-left: 10px;
}
.light-text-image-menu-red p{
    margin-left: 10px;
}
.light-text-image-menu img{
    border-right: var(--border-primary);
    width: 110px;
    padding: 15px 35px;
}
.image-container{
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    position: relative;
    text-align: center;
    margin-top: 25px;
}
.image-container img{
    width: 100%;
}
.text-main-image{
    position: absolute;
    top: 25%;
    left: 5%;
    color: white;
    font-size: 44px; 
    text-align: left;
}
.text-main-image h4{
    font-family: var(--font-family-primary);
}
.text-main-image h3{
    font-family: var(--font-family-tertiary);
    font-weight: normal;
}
.tile-page{
    display: flex;
    background-color: #F8F8F8;
    margin-top: 45px;
    margin-bottom: 30px;
    gap: 15px;
    justify-content: space-between;
    height: auto;
}
.left-side{
    display: flex;
    align-items: center;
    gap: 15px;
    font-family: var(--font-family-secondary);
}
.right-side{
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: var(--font-family-secondary);
}
.view{
    font-size: 12px;
    margin: 15px;
}
.icon-menu img{
    width: 15px;
}
.sort{
    font-size: 12px;
    font-family: var(--font-family-secondary);
    display: flex;
    align-items: center;
}
.sort-option{
    display: flex;
    align-items: center;
    justify-content: center;
}
.options{
    padding: 9px 20px;
    border: none;
    direction: ltr;
    font-family: var(--font-family-secondary);
}
.quantity{
    display: flex;
    align-items: center;
    font-family: var(--font-family-secondary);
    font-size: 12px;
}
.sort-quantity{
    display: flex;
    align-items: center;
    justify-content: center;
}
.quantities{
    border: none;
    padding: 8px 10px;
    font-family: var(--font-family-secondary);
}
.pagination{
    display: flex;
    gap: 5px;
    align-items: center;
    margin-right: 5px;
}
.pagination a{
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    background-color: white;
}
.pagination a.active{
    background-color: #F74137;
    color: white;
}
.pagination a:hover:not(.active){
    background-color: #F74137;
    color: white;
}
.lights-row{
    position: relative;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, minmax(0,1fr));
    gap: 3px;
}
.light{
    margin: 0 auto;
    padding-bottom: 70px;
    padding-top: 70px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    max-width: 100%;
    height: 100%;
    width: 100%;
    text-align: center;
    position: relative;
    border-bottom: var(--border-primary);
    border-right: var(--border-primary);
}
.link-tag{
    position: absolute;
    top:0; 
    right: 0;
    width: 100%;
    height: 100%;
}
.lights-row img{
    max-width: 100%;
    height: auto;
}
.text-under-lights{
    text-align: center;
    margin: 0 auto;
    color: black;
    font-size: 15px;
    transition: transform 0.3s ease;
    overflow: hidden;
    transform: translateY(60px);
}
.text-under-lights b{
    font-family: var(--font-family-primary);
}
.text-under-lights p{
    font-family: var(--font-family-secondary);
}
.text-under-lights s{
    font-family: var(--font-family-primary);
    color: #A3A3A3;
}
.tile-product{
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-top: 35px;
}
.tile-product {
    opacity: 0;
}
.light:hover .tile-product {
    opacity: 1;
}
.light:hover .text-under-lights {
    transform: translateY(0);
}
.shoppingcart{
    width: 40px;
    background-color: #9BCB3B;
    padding: 7px;
}
.number{
    border: var(--border-primary);
    display: flex;
    align-items: center;
}
.tile-minus, .tile-plus{
    background-color: #f8f8f8;
    padding: 9px 5px 13px 5px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    font-family: var(--font-family-primary);
    border: none;
    cursor: pointer;
}
input[type="number"]{
    font-size: 14px;
    background-color: #FFFFFF;
    vertical-align: middle;
    text-align: center;
    font-family: var(--font-family-secondary);
    border: none;
    width: 50px;
}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
}
.button{
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: var(--font-family-secondary);
}
.button1{
    background-color: #F74137;
}
.left-main-menu{
    width: 20%;
    margin: 25px;
}
.first-left-menu{
    width: 100%;
    border: var(--border-primary);
}
.first-left-menu h3{
    text-align: left;
    font-family: var(--font-family-primary);
    padding: 15px;
    border-bottom: 2px solid #F74137;
}
.first-left-menu ul{
    font-family: var(--font-family-secondary);
    width: 100%;
}
.li-plus-image{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: var(--border-primary);
    width: 100%;
    padding: 25px;
    font-family: var(--font-family-secondary);
}
.li-without-image-plus{
    border-bottom: var(--border-primary);
    width: 100%;
    padding: 25px;
    font-family: var(--font-family-secondary);
}
.text-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.filters{
    width: 100%;
    margin-top: 15px;
}
.filters h3{
    text-align: left;
    font-family: var(--font-family-primary);
    padding: 15px;
    border: var(--border-primary);
}
.option-filter{
    background-color: #F8F8F8;
    padding: 0 10px;
    border-left: var(--border-primary);
    border-right: var(--border-primary);
}
.option-filter ul{
    font-family: var(--font-family-secondary);
    padding: 15px;
}
.option-filter i{
    background-color: #F2F3F4;
    padding: 8px;
}
.li-filter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}
.producer, .choose-colors, .range-filter, .size-filter ,.price {
    width: 100%;
    border: var(--border-primary);
}
.producer h3, .range-filter h3, .choose-colors h3, .size-filter h3{
    text-align: left;
    font-family: var(--font-family-primary);
    margin: 25px;
}
.producer p{
    color: #F74137;
    padding: 0 15px;
    font-size: 19px;
    margin-bottom: 25px;
}
.li-producer{
    display: flex;
}
.option-producer{
    margin: 20px;
    display: flex;
    align-items: center;
}
.option-producer ul{
    font-family: var(--font-family-secondary);
    font-size: 20px;
}
.option-producer li{
    padding: 15px;
}
.li-parameter{
    display: flex;
    align-items: center;
}
.box{
    border: var(--border-primary);
    width: 30px;
    height: 30px;
}
.box-inside-red{
    background-color: #F74137;
    width: 20px;
    height: 20px;
    margin: 4px;
}
.different-color{
    display: grid;
    grid-template-columns: repeat(5, minmax(0,1fr));
    justify-content: space-between;
    gap: 10px;
    margin: 25px;
}
.box-light-green{
    background-color: #5ABD68;
    width: 50px;
    height: 50px;
}
.box-light-blue{
    background-color: #4DAED7;
    width: 50px;
    height: 50px;
}
.box-dark{
    background-color: #243451;
    width: 50px;
    height: 50px;
}
.box-light-orange{
    background-color: #FC9C00;
    width: 50px;
    height: 50px;
}
.box-gray{
    background-color: #CDD4DF;
    width: 50px;
    height: 50px;
}
.box-dark-blue{
    background-color: #45557A;
    width: 50px;
    height: 50px;
}
.box-brown{
    background-color: #A29084;
    width: 50px;
    height: 50px;
}
.box-blue{
    background-color: #2186D1;
    width: 50px;
    height: 50px;
}
.box-light-red{
    background-color: #ED654B;
    width: 50px;
    height: 50px;
}
.box-green{
    background-color: #39A95B;
    width: 50px;
    height: 50px;
}
.box-red{
    background-color: #E34126;
    width: 50px;
    height: 50px;
}
.box-orange{
    background-color: #F5740B;
    width: 50px;
    height: 50px;
}
.box-dark{
    background-color: #243451;
    width: 50px;
    height: 50px;
}
.box-mud{
    background-color: #74706C;
    width: 50px;
    height: 50px;
}
.box-light-yellow{
    background-color: #F7DA50;
    width: 50px;
    height: 50px;
}
.one-size{
    display: grid;
    grid-template-columns: repeat(5, minmax(0,1fr));
    justify-content: space-between;
    gap: 10px;
    margin: 25px;
}
.size-65{
    font-family: var(--font-family-secondary);
    border: var(--border-primary);
    padding: 10px 17px;
    text-align: center;
}
.range-size{
    display: flex;
    justify-content: space-around;
    margin: 25px;
}
.range-size p{
    text-align: center;
}
.range-size-filter{
    font-family: var(--font-family-secondary);
    border: var(--border-primary);
    padding: 25px 30px;
}
.minus{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
}
.price{
    position: relative;
}
.price h3{
    text-align: left;
    font-family: var(--font-family-primary);
    margin: 25px;
    border-bottom: 6px solid #F6F7FB;
}
.price h3::after{
    content: '';
    height: 5px;
    width: 45%;
    background: #F74137;
    display: block;
    margin: 0 auto;
    margin-bottom: -4px;
    margin-top: 25px;
    text-align: center;
}
.full-box-red1{
    height: 16px;
    width: 16px;
    background: #F74137;
    position: absolute;
    top: 39%;
    left: 30%;
}
.full-box-red2{
    height: 16px;
    width: 16px;
    background: #F74137;
    position: absolute;
    top: 39%;
    left: 66%;
}
.size-price{
    display: flex;
    justify-content: space-between;
    margin: 25px;
}
.range-size-price{
    font-family: var(--font-family-secondary);
    border: var(--border-primary);
    padding: 10px 10px;
}
.under-footer {
    display: grid;
    justify-content: space-between;
    gap: 20px;
    background: #393E40;
    padding: 25px;
    grid-template-columns: repeat(4,minmax(0,1fr));
}
.footer-information {
    background-color: #393E40;
    color: white;
    width: 100%;
}
.footer-information h3 {
    border-bottom: var(--border-primary);
    font-family: var(--font-family-primary);
}
.footer-information li {
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: var(--font-family-secondary);
}
.footer-information h3::after {
    content: '';
    height: 3px;
    width: 25px;
    background: #F74137;
    margin-bottom: -2px;
    display: block;
    text-align: left;
}
footer {
    display: flex;
    justify-content: space-between;
    padding: 25px;
    font-family: var(--font-family-secondary);
    border: var(--border-primary);
}
ul, ul li {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
}
@media screen and (max-width: 1800px){
    .different-color{
        grid-template-columns: repeat(3, minmax(0,1fr));
        gap: 10px;
    }
    .one-size{
        grid-template-columns: repeat(3, minmax(0,1fr));
        display: grid;
    }
    .light-left-menu{
        grid-template-columns: repeat(3, minmax(0,1fr));
    }
}
@media screen and (max-width: 1300px) {
    .text-main-image{
        font-size: 35px;
    }
    .image-container img{
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
    .range-size{
        flex-direction: column;
        padding: 15px;
    }
}
@media screen and (max-width: 1100px) {
    .tile-page{
    flex-direction: column;
    }
    .left-side{
        flex-direction: row;
        justify-content: center;
        margin-top: 5px;
    }
    .right-side{
        justify-content: center;
        margin-bottom: 10px;
        flex-direction: column;
    }
    .view{
        display: none;
    }
}
@media screen and (max-width: 1000px) {
    .different-color{
        grid-template-columns: repeat(2, minmax(0,1fr));
        gap: 5px;
    }
    .range-size-filter{
        width: 75%;
        text-align: center;
        margin: 0 auto;
        padding: 20px 20px;
    }
    .minus{
        text-align: center;
        align-items: center;
    }
    .text-main-image{
        font-size: 25px;
    }
    .light-left-menu{
        grid-template-columns: repeat(2, minmax(0,1fr));
    }
    .size-65{
        padding: 5px 12px;
    }
    .right-side{
        flex-direction: column;
    }
}
@media screen and (max-width: 900px) {
    .sort, .quantity{
        display: none;
    }
    .sort-option{
        margin-left: 10px;
    }
    .lights-row{
        grid-template-columns: repeat(3,minmax(0,1fr));
    }
    .option-producer, .producer h3, .choose-colors h3, .producer p{
        overflow: hidden;
    }
}
@media screen and (max-width: 885px) {
    .upper-headers p{
        display: none;
        flex-direction: column;
    }
    .under-footer{
        grid-template-columns: repeat(2, minmax(0,1fr));
        gap: 40px;
    }
    .main-content{
        width: 80%;
    }
    .range-size-filter{
        width: 75%;
        text-align: center;
        margin: 0 auto;
    }
    footer{
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }
    .one-size{
        grid-template-columns: repeat(2, minmax(0,1fr));
    }
    .left-main-menu{
        overflow: hidden;
    }
}
@media screen and (max-width: 800px){
    .light-left-menu{
        grid-template-columns: repeat(1, minmax(0,1fr));
    }
    .text-main-image{
        font-size: 20px;
        top: 20%;
    }
    .button1{
        padding: 10px 27px;
    }
}
@media screen and (max-width: 750px) {
    .first-left-menu h3, .first-left-menu p, .filters h3, .producer h3, .option-producer li, .producer p{
        font-size: 15px;
    }
    .box-blue, .box-brown, .box-dark, .box-dark-blue, .box-gray, .box-green, .box-light-blue, .box-light-green, .box-light-orange, .box-light-red, .box-light-yellow, .box-mud, .box-orange, .box-red{
        width: 40px;
        height: 40px;
    }
    .box{
        width: 20px;
        height: 20px;
    }
    .box-inside-red{
        width: 10px;
        height: 10px;
    }
    .text-menu, .upper-menu{
        flex-direction: column;
    }
    .three-information{
        justify-content: space-around;
    }
    .header, .headers{
        flex-direction: column;
        gap: 10px;
        text-align: center;
    } 
    .logo img{
        width: 250px;
    }
    .nav-h1 h1{
        font-size: 30px;
    }
    .li-plus-image li, .li-filter li{
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .li-parameter ul{
        font-size: 15px
    }
    .size-price{
        flex-direction: column;
        text-align: center;
        justify-content: center;
        padding: 5px 5px;
        gap: 5px;
    }
    .full-box-red1{
        top:29%;
    }
    .full-box-red2{
        top: 29%;
        left: 62%;
    }
}
@media screen and (max-width: 590px) {
    .first-left-menu h3{
        font-size: 13px;
    }
    .different-color{
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .lights-row{
        grid-template-columns: repeat(2,minmax(0,1fr));
    }
    .text-main-image br{
        display: none;
    }
    .pagination{
        margin-left: 15px;
    }
    .three-information{
        gap: 7px;
    }
    .arrow-cart img{
        width: 100%;
    }
}
@media screen and (max-width: 450px) {
    .left-main-menu, .pagination{
        display: none;
    }
    .main-content{
        margin: 0 auto;
    }
    .text-main-image{
        font-size: 15px;
    }
    .button1{
        padding: 5px 22px;
    }
}
@media screen and (max-width: 400px) {
    .third-header{
        width: 100%;
        flex-direction: column;
    }
    .text-cart{
        display: none;
    }
    .cart img{
        border-right: none;
    }
}