@font-face {
    font-family: 'Metropolis';
    font-weight: normal;
    src: url("fonts/Metropolis-Regular.otf") format("opentype");
}
@font-face {
    font-family: 'Metropolis-Bold';
    font-weight: bold;
    src: url("fonts/Metropolis-Bold.otf") format("opentype");
}
@font-face {
    font-family: 'Metropolis-Light';
    src: url("fonts/Metropolis-Light.otf") format("opentype");
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.full-page{
    border: 1px solid #E1E2E8;
}
html {
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}
.main {
    width: 100%;
    max-width: 100%;
    margin: auto;
    background-color: white;
    border-bottom: 1px solid #E1E2E8;
}
.menu {
    text-align: center;
    font-size: 14px;
    padding: 20px;
    background-color: white;
    justify-content: space-between;
    list-style: none;
    display: block;
    margin: 0;
}
.upper-menu{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.three-information{
    text-align: center;
    padding: 20px;
    font-family: 'Metropolis-Bold';
    display: flex;
    gap: 35px;
    justify-content: space-between;
}
.header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    height: 100%;
    font-family: 'Metropolis-Bold';
    padding: 10px;
}
.headers {
    flex: 1 0 auto;
    text-align: left;
    padding: 15px;
}
.upper-headers {
    display: flex;
    align-items: center;
    gap: 5px;
}
.upper-headers img 
{
    width: 18px;
    height: 18px;
}
.cart{
    display: flex;
    align-items: center;
    gap: 5px;
    border: 1px solid #E1E2E8;
    height:100%;
}
.cart img{
    width: 45px;
    height: 30px;
    border-right: 1px solid #E1E2E8;
}
.arrow-cart{
    display: flex;
    background-color: #9BCB3B;
}
.arrow-cart img{
    padding: 25px 10px;
}
.text-cart{
    padding: 12px;
}
.text-on-cart{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 9px;
    display: block;
}
.cart-family{
    display: flex;
}
.cart-brother{
    position: relative;
}
.number-orders{
    border: 1px solid #9BCB3B;
    color: white;
    background-color: #9BCB3B;
    font-family: 'Metropolis';
}
.third-header{
    background-color: #F2F3F4;
    width: 100%;
    height: 100%;
    font-family: 'Metropolis';
    display: flex;
    padding: 20px;
    gap: 40px;
    padding-left: 30px;
}
.header-information{
    text-align: center;
}
.wrapper{
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    margin-bottom: 45px;
}
.lights-wrapper{
    height: 100%;
    text-align: center;
    position: relative;
    width: 65%;
}
.left-small-lights{
    flex-direction: column;
    position: absolute;
    top: 8%;
    left: 3%;
    width: 30px;
    height: 30px;
}
.left-small-lights img{
    border: 1px solid #E1E2E8;
    padding: 10px;
}
.right-arrow-lights {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    background-color: silver;
    width: 45px;
    height: 45px;
}
.right-arrow-lights img {
    padding: 15px;
}
.left-arrow-lights {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 13%;
    background-color: #F2F3F4;
    width: 45px;
    height: 45px;
}
.left-arrow-lights img {
    padding: 15px;
}
.lights-offer{
    display:flex;
    width: 100%;
    justify-content: space-between;
}
.title-offer{
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 15px;
}
.title-offer h1{
    font-family: 'Metropolis-Bold';
    margin-left: 25px;
    font-size: 43px;
}
.philips{
    display: flex;
    align-items: center;
    font-family: 'Metropolis-Bold';
    color: #2780BC;
    font-size: 25px;
    margin-right: 35px;
}
.text-offer{
    position: absolute;
    top: 0%;
    right: 0%;
    font-size: 13px;
    display: block;
}
.one{
    border: 1px solid #F74137;
    color: white; 
    background-color: #F74137;
    font-family: 'Metropolis';
    padding: 6px;
    margin: 2px;
}
.two{
    border: 1px solid #80B61A;
    color: white; 
    background-color: #80B61A;
    font-family: 'Metropolis';
    padding: 6px;
    margin: 2px;
}
.lights-information{
    width: 35%;
    height: 100%;
    margin-right: 15px;
    margin-left: 15px;
}
.upper-light-info{
    background-color: #FFFFFF;
    border: 1px solid #E1E2E8;
    height: 50%;
    text-align: left;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.paragraph-code{
    font-family: 'Metropolis';
    font-size: 15px;
    color: #A1A4A7;
    border-bottom: 1px solid #E1E2E8;
    margin-right: 20px;
    padding-bottom: 15px;
}
.add-information-light{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #E1E2E8;
    margin-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Metropolis';
}
.option1{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 17px;
    width: 100%;
}
.option2{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 17px;
    padding-left: 15px;
    width: 100%;
    border-left: 1px solid #E1E2E8;
    line-height: 35px;
}
.variants{
    font-family: 'Metropolis-Bold';
    font-size: 15px;
    padding-top: 30px;
}
.two-variant{
    display: flex;
    gap: 15px;
    padding-top: 15px;
}
.first-image-variant{
    border: 1px solid #E1E2E8;
    padding: 10px;
}
.first-image-variant img{
    height: 65px;
}
.second-image-variant img{
    height: 65px;
}
.second-image-variant{
    border: 1px solid #1BB0F7;
    padding: 10px;
}
.two-text-variant{
    display: flex;
    gap: 30px;
    font-family: 'Metropolis';
}
.text-under-first-variant{
    padding-left: 13px;
    padding-top: 5px;
}
.text-under-second-variant{
    text-align: left;
    padding-top: 5px;
}
.bottom-light-info{
    background-color: #F2F3F4;
    border: 1px solid #E1E2E8;
    height: 50%;
    text-align: left;
    padding-left: 30px;
    padding-top: 30px;
}
.bottom-light-info s{
    color: #A3A3A3;
    font-family: 'Metropolis';
    font-size: 18px;
}
.bottom-light-info b{
    font-family: 'Metropolis-Bold';
    font-size: 32px;
}
.tile-light{
    display: flex;
    justify-content: flex-start;
    gap: 5px;
    padding-top: 30px;
    padding-bottom: 30px;
    align-items: stretch;
}
.tile-light a{
    text-decoration: none;
    color: white;
    font-family: 'Metropolis-Bold';
}
.number-light{
    border: 1px solid #E1E2E8;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
}
.minus-light, .plus-light{
    padding: 9px 10px 13px 10px;
    border-left: 1px solid #E1E2E8;
    border-right: 1px solid #E1E2E8;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    font-family: 'Metropolis-Bold';
}
.shopping-button{ 
    width: 100%;
}
.under-footer {
    display: grid;
    justify-content: space-between;
    gap: 20px;
    background: #393E40;
    padding: 25px;
    grid-template-columns: repeat(4,minmax(0,1fr));
}
.footer-information {
    background-color: #393E40;
    color: white;
    width: 100%;
}
.footer-information h3 {
    border-bottom: 1px solid #E1E2E8;
    font-family: 'Metropolis-Bold';
}
.footer-information li {
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: 'Metropolis';
}
.footer-information h3::after {
    content: '';
    height: 3px;
    width: 25px;
    background: #F74137;
    margin-bottom: -2px;
    display: block;
    text-align: left;
}
.footer {
    display: flex;
    justify-content: space-between;
    padding: 25px;
    font-family: 'Metropolis';
    border: 1px solid #E1E2E8;
}
.other-items{
    text-align: center;
    background-color: #F2F3F4;
    font-family: 'Metropolis-Bold';
    padding-top: 25px;
    scroll-behavior: smooth;
}
.other-items::after {
    content: '';
    width: 50px;
    border-bottom: 3px solid #F74137;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
}
.general-table{
    width:100%;
    display: block;
}
table{
    border-collapse: collapse;
    width: 98%;
    max-width: 1500px;
    margin: 30px auto;
    table-layout: fixed;
}
td{
    border: 1px solid #E1E2E8;
    font-family: 'Metropolis';
    padding: 15px;
    text-align: center;
    width: 100px;
    padding: 20px;
}
tbody tr:nth-child(even)
{
  background: #F8F8F8;
}
.right-text-table{
    font-family: 'Metropolis';
    text-align: right;
    padding-right: 45px;
}
.left-text-table{
    text-align: left;
    padding-left: 35px;
}
.table{
    margin-left: auto;
    margin-right: auto;
}
.basic-information{
    text-align: center;
    background-color: #FFFFFF;
    font-family: 'Metropolis-Bold';
    padding-top: 25px;
    border-bottom: 1px solid #E1E2E8;
    scroll-behavior: smooth;
}
.basic-information::after {
    content: '';
    width: 50px;
    border-bottom: 3px solid #F74137;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
}
.choice-products {
    background-color: #F2F3F4;
    width: 100%;
    padding: 25px;
    height: auto;
    max-width: 100%;
    border-top: 1px solid #E1E2E8;
}
.lights-row {
    position: relative;
    background-color: #F2F3F4;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    display: flex;
    gap: 15px;
}
.light {
    margin: 0 auto;
    padding-bottom: 70px;
    padding-top: 70px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    max-width: 100%;
    height: 100%;
    width: 100%;
    text-align: center;
}
.light img {
    max-width: 100%;
    height: auto;
}
.text-under-lights {
    text-align: center;
    margin: 0 auto;
    color: black;
    font-size: 15px;
    transition: transform 0.3s ease;
    overflow: hidden;
    transform: translateY(60px);
}
.text-under-lights s{
    color: #A3A3A3;
    font-family: 'Metropolis';
}
.text-under-lights b{
    font-family: 'Metropolis-Bold';
}
.text-under-lights p{
    font-family: 'Metropolis';
}
.tile-product {
    opacity: 0;
}
.light:hover .tile-product {
    opacity: 1;
}
.light:hover .text-under-lights {
    transform: translateY(0);
}
span {
    cursor: context-menu;
}
.number{
    border: 1px solid #E1E2E8;
}
.number-light input {
    font-size: 14px;
    width: 65px;
    background-color: #FFFFFF;
    vertical-align: middle;
    text-align: center;
    font-family: 'Metropolis';
    border: none;
}
input {
    font-size: 14px;
    width: 30px;
    height: 40px;
    background-color: #FFFFFF;
    vertical-align: middle;
    text-align: center;
    font-family: 'Metropolis';
    border: none;
}
.minus, .plus{
    background-color: #F8F8F8;
    padding: 9px 5px 13px 5px;
}
.shoppingcart{
    width: 40px; 
    background-color: #9BCB3B;
    padding: 7px;
}
.tile-product{
    display: flex;
    padding-top: 35px;
    justify-content: center;
    gap: 10px;
}
ul, ul li {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
}
.three-button{
    background-color: #F8F8F8;
    padding: 7px 30px 7px 30px;
}
.three-button a{
    text-decoration: none;
    color: black;
    scroll-behavior: smooth;
    font-family: 'Metropolis-Bold';
}
.button{
    border: none;
    color: white;
    padding: 15px 29px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    font-family: 'Metropolis';
    cursor: context-menu;
}
.button1{
    background-color: #F74137;
    font-family: 'Metropolis-Bold';
}
.button2{
    background-color: #FFFFFF;
    color: black;
    cursor: pointer;
}
.button3{
    background-color: #FFFFFF;
    color: black;
    cursor: pointer;
}
.button4{
    background-color: #9BCB3B;
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: center;
    width: 95%;
}
.product-description{
    text-align: center;
    background-color: #FFFFFF;
    padding-top: 50px;
    font-family: 'Metropolis-Bold';
}
.product-description h1{
    font-size: 40px;
    border-bottom: 1px solid #E1E2E8;
    font-family: 'Metropolis-Bold';
}
.product-description p{
    max-width: 1400px;
    margin: 30px auto;
    font-size: 20px;
    text-align: left;
    font-family: 'Metropolis';
}
.product-description h3{
    font-size: 25px;
    font-family: 'Metropolis-Bold';
    text-align: left;
}
p.title-paragraph{
    font-family: 'Metropolis-Bold';
}
.product-description h1::after{
    content: '';
    width: 50px;
    border-bottom: 3px solid #F74137;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
}
.image-description{
    width:100%;
    height:100%;
    text-align: center;
    position: relative;
}
.image-button{
    position: absolute;
    top:50%;
    right: 48%;
    transform: translateY(-50%);
}
.fa-angle-up{
    background-color: #C1C2C6;
    width: 53px;
    height: 20px;
    color: white;
    padding: 3px;
}
.fa-angle-down{
    background-color: #F2F3F4;
    width: 53px;
    height: 20px;
    color: white;
    padding: 3px;
}
@media screen and (max-width: 1000px) {
    .tile-light, .number-light{
        flex-direction: column;
        padding-left: 10px;
        padding-right: 10px;
        width: 96%;
    }
    .minus-light, .plus-light {
        border-left: none;
        border-right: none;
        padding-bottom: 5px;
    }
    .number-light input{
        border-bottom: 1px solid #E1E2E8;
        border-top: 1px solid #E1E2E8;
        width: 100%;
    }
}
@media screen and (max-width: 900px) {
    .shopping-button{
        width: 100%;
        flex-direction: column;
    }
    .left-arrow-lights{
        left: 15%;
    }
}
@media screen and (max-width:870px) {
    .cart img{
        width:100%;
    }
    .text-cart{
        width:100%;
    }
    .left-arrow-lights{
        left: 20%;
        width: 40px;
        height: 40px;
    }
    .right-arrow-lights{
        right: 15%;
        width: 40px;
        height: 40px;
    }
    .text-offer{
        display: none;
    }
    .upper-headers p{
        display: none;
        flex-direction: column;
    }
    .left-small-lights{
        height: 53px;
        width: 55px;
        top: 3%;
    }
    i{
        width: 55px;
    }
    .lights-wrapper img{
        width:100%;
        height: 100%;
    }
}
@media screen and (max-width: 850px) {
    .header, .headers{
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }
    .lights-wrapper img{
        width:100%;
        height: 100%;
    }
    .lights-row {
        flex-wrap: wrap;
    }
    .product-description p{
        font-size: 15px;
        padding-left: 30px;
    }
    .title-offer h1{
        font-size: 30px;
        margin-left: 20px;
    }
    .philips{
        margin-right: 30px;
    }
    .under-footer{
        grid-template-columns: repeat(2,minmax(0,1fr));
        gap: 40px;
    }
    .footer {
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }
    .image-description img{
        object-fit: cover;
        width: 100%;
    }
}
@media screen and (max-width: 750px) {
    .logo img{
        width: 200px;
    }
    .three-information{
        gap: 12px;
    }
    .philips{
        font-size: 20px;
    }
    .title-offer h1{
        font-size: 20px;
    }
    .product-description h1{
        font-size: 30px;
    }
    .basic-information h1{
        font-size: 28px;
    }
    .other-items h1{
        font-size: 28px;
    }
    .upper-menu{
        flex-direction: column;
    }
    .three-button{
        flex-direction: column;
        text-align: center;
    }
}
@media screen and (max-width: 585px) {
    .lights-wrapper{
        width:100%;
    }
    .cart{
        display: inline-block;
    }
    .cart img{
        width:100%;
        border: none;
    }
    .text-cart{
        padding: 2px 7px 2px 7px;
    }
    .arrow-cart img{
        width: 100%;
    }
    .text-on-cart{
        top: 0;
        right:30%;
    }
    .left-arrow-lights, .right-arrow-lights{
        opacity: 0;
    }
    .bottom-light-info b{
        font-size: 25px;
    }
    .tile-light a{
        font-size: 15px;
        display: none;
    }
    .shopping-button img{
        width: 25px;
        height: 25px;
    }
    .two-variant{
        width: 120px;
    }
    .first-image-variant img, .second-image-variant img{
        width: 100%;
        height: 100%;
    }
    .two-text-variant, .variants{
        font-size: 13px;
        padding-top: 10px;
    }
    .option1, .option2{
        font-size: 13px;
        border: none;
        padding-left: 5px;
    }
    .add-information-light{
        flex-direction: column;
        border: none;
    }
    .three-information{
        gap: 5px;
    }
}
@media screen and (max-width: 435px) {
    .left-small-lights {
        top: 0%;
        width: 50px;
    }
    i{
        width: 50px;
    }
    .tile-light a{
        font-size: 10px;
    }
    .shopping-button img{
        width: 20px;
        height: 20px;
    }
    .two-variant{
        width: 110px;
    }
    .two-text-variant{
        font-size: 10px;
    }
}
@media screen and (max-width: 400px) {
    .general-table{
        width: 100%;
    }
    .third-header{
        width: 100%;
        flex-direction: column;
    }
    .bottom-light-info b{
        font-size: 20px;
    }
    .tile-light a{
        display: none;
    }
    .two-variant{
        width: 90px;
    }
    .two-text-variant, .text-under-first-variant{
        padding-left: 2px;
        gap: 17px;
    }
}