@media screen and (max-width: 320px) {
   .nav__name {
     display: none;
   }
 }
 @media screen and (min-width: 576px) {
   .nav__list {
     justify-content: center;
     column-gap: 3rem;
   }
 }
 @media screen and (min-width: 767px) {
   .nav {
     height: 4.5rem; 
   }
   .nav__img {
     display: none;
   }
   .nav__icon {
     display: none;
   }
   .nav__name {
     font-size: .938rem;
   }
   .nav__link:hover {
     color: hsl(174, 63%, 40%);
   }
 }